//- Header
header.header 
	.container 
		a(href="/").header__logo
			img(src="", alt="") 


//- nav.header__menu
//- 	ul
//- 		each item in menu
//- 			li(class=(item.submenu ? 'expanded' : ''))
//- 				a(href=item.href)=item.text

//- 				if item.submenu
//- 					ul.header__sub-menu
//- 						each subitem in item.submenu
//- 							li
//- 								a(href=subitem.href)=subitem.text
