@import "components/_fonts.scss";
@import "components/_system-styles.scss";
@import "components/_default.scss";




// Header 
.header{
	&__logo{
		
	}
}
// Если шапка закреплена, добавить ей сдвиг в админке
// body.user-logged-in .header{
//     top: 79px;
// }


// Footer
.footer{
	&__box{

	}
}
.popup{
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.6);
	z-index: 11;
	position: fixed;
	top: 0;
	right: -20px;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	padding: 30px 20px 30px 0;
	transition: opacity 0.4s, visibility 0.4s;
	&.active{
		opacity: 1;
		visibility: visible;
	}
	&__window{
		width: 485px;
		margin: auto;
		background-color: #fff;
		position: relative;
		top: -60px;
		padding: 55px 76px 60px;
		transition: top 0.4s;
	}
	&.active &__window{
		top: 0;
	}
	&__close{
		width: 22px;
		height: 22px;
		z-index: 1;
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		&:before,
		&:after{
			content: "";
			width: 100%;
			height: 2px;
			background-color: #000;
			border-radius: 2px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			transition: background-color 0.3s;
		}
		&:hover{
			&:before,
			&:after{
				background-color: gray;
			}
		}
		&:before{
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
	h2{
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 18px;
	}
	h3{
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 26px;
	}
}
.form{
	&__field{
		width: 100%;
		height: 40px;
		background-color: lightgray;
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
		border: 0;
		outline: none;
		border-radius: 0;
		margin-bottom: 20px;
		padding: 0 25px;
		&::-webkit-input-placeholder{
			font-family: $font;
			font-weight: 400;
			font-size: 14px;
			color: #949494;
			opacity: 1;
			transition: opacity 0.3s;
		}
		&::-moz-placeholder{
			font-family: $font;
			font-weight: 400;
			font-size: 14px;
			color: #949494;
			opacity: 1;
			transition: opacity 0.3s;
		}
		&:focus::-moz-placeholder{
			opacity: 0 !important;
		}
		&:focus::-webkit-input-placeholder{
			opacity: 0 !important;
		}
	}
	&__btn{
		margin: auto;
	}
}


// Главная страница
.main{
	
}
.arrows{
	&__prev,
	&__next{
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 50%;
		padding-bottom: 2px;
		background-color: lightgray;
		transition: background-color 0.3s;
		&:hover{
			background-color: gray;
		}
		&:before{
			font-size: 30px;
		}
	}
	&__prev{
		&:before{
			content: "\2039"
		}
	}
	&__next{
		&:before{
			content: "\203A"
		}
	}
}

// Внутренние 
.top{
	background-color: #f4f2ef;
	padding: 55px 0;
	margin-bottom: 70px;
}
.breadcrumbs{
	li{
		display: inline;
		a, span{
			font-style: italic;
		}
		a{
			&:hover{
				text-decoration: underline;
			}
		}
		span{
			color: #7f797c;
		}
		&:not(:last-child):after{
			content: "";
			display: inline-block;
			width: 10px;
			height: 1px;
			background-color: #7f797c;
			opacity: 0.8;
			margin: 0 6px 0 8px;
			position: relative;
			top: -3px;
		}
	}
	
}
.page-title{
	font-size: 38px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 28px;
}
.pager{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	ul{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		a{
			min-width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			color: white;
			background-color: lightgray;
			padding: 0 7px;
			transition: background-color 0.3s;
			&:hover{
				background-color: gray;
			}
			&.is-active{
				background-color: black;
			}
		}
	}
}




@import "components/_adaptive.scss";
